
body, html{
    height: 100%;
}

.bg {
    background-image: url("background.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button{

    height: 130px;
    width: 100px;
    margin: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #000000;
    box-sizing: border-box;

    transition: all 0.07s;

    display: flex;
    flex-direction: column;

}


.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px #ffc600;
    box-color: #ffc600

}

.playing{

    transform: scale(1.1);
    box-shadow: 0 0 15px 5px #ffc600;
    box-color: #ffc600

}


.buttonText {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 73px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}


.buttonLabel {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #BDFF00;

}


